<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  
  <superSocket xmlns="http://schema.supersocket.net/supersocket">   
    
    <servers>
      <server name="TestServer" 
              serverTypeName="TestServerType" 
              receiveFilterFactory="WrapReceiveFilterFactory"
              clearIdleSession="true"
              clearIdleSessionInterval="180"
              idleSessionTimeOut="300"              
              >
        <listeners>
          <add ip="Any" port="13060"/>          
        </listeners>        
        <!--<commandAssemblies>
                <add assembly="SS.Test.Handler"></add>
          --><!--存放命令的dll名称--><!--
        </commandAssemblies>-->        
      </server>      
    </servers>
    <receiveFilterFactories>
        <add name="WrapReceiveFilterFactory" type="SS.Test.Handler.InstanceStringFilterFactory,SS.Test.Handler"/>
      <!--派生自 classes:SS.Service.WrapReceiveFilterFactory,SS.Service-->
    </receiveFilterFactories>    
    <serverTypes>
        <add name="TestServerType" type="SS.Test.Handler.UniqueServer,SS.Test.Handler"/>
    </serverTypes>
  </superSocket>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
